@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  height: 100%;
}

.input-error{
  display: flex;
  width: 100%;
  justify-content: end;
}
.error-msg {
  color: theme("colors.red.700")
}